<div class="modal modal-lg fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="modalErrors"></div>
            <div class="modal-body">
                <span th:text="${message}"></span>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Да" class="btn btn-primary">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
            </div>
        </div>
    </div>
</div>