<div class="modal modal-lg fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="modalErrors"></div>
            <div class="modal-header">
                <h5 class="modal-title">Классификатор стран мира (ОКСМ)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-responsive-xl">
                    <thead>
                    <tr>
                        <th scope="col">Наименование</th>
                        <th scope="col">Код</th>
                        <th scope="col">Код альфа 2</th>
                        <th scope="col">Код альфа 3</th>
                        <th scope="col">Участник ЕАЭС</th>
                        <th scope="col">Наименование полное</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items}">
                        <td>
                            <a th:href="${'/entity/world-country/classifier/' + item.code}" th:text="${item.name}" class="open-popup"></a>
                        </td>
                        <td th:text="${item.code}"></td>
                        <td th:text="${item.codeAlpha2}"></td>
                        <td th:text="${item.codeAlpha3}"></td>
                        <td th:text="${item.eaeu ? 'Да' : ''}"></td>
                        <td th:text="${item.fullName}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>