<th:block th:fragment="header(selected)">
    <nav class="navbar bg-body-tertiary navbar-expand-lg">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Platform:УНФ</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Раскрыть">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Главное</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/crm}">CRM</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="alerts-container">

    </div>
</th:block>