<nav aria-label="Страницы"
     th:fragment="nav(baseUrl, page)"
     th:if="${page.totalPages > 0}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${page.currentPage == 1} ? 'disabled'">
            <a th:replace="fragments/paging :: paging(baseUrl, 1, '<<', 'Страница 1')"></a>
        </li>
        <li class="page-item font-weight-bold" th:classappend="${page.currentPage == 1} ? 'disabled'">
            <a th:replace="fragments/paging :: paging(baseUrl, ${page.currentPage - 1}, 'Пред', 'Предыдущая страница')"></a>
        </li>
        <li class="page-item disabled" th:if="${page.currentPage - 2 > 1}">
            <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item"
            th:each="pageEntry : ${#numbers.sequence((page.currentPage > 2 ? page.currentPage - 2 : 1),
                page.currentPage + 2 < page.totalPages ? page.currentPage + 2 : page.totalPages)}"
            th:classappend="${pageEntry == page.currentPage} ? 'active'">
            <a th:replace="fragments/paging :: paging(${baseUrl}, ${pageEntry}, ${pageEntry}, 'Страница ' + ${pageEntry})"></a>
        </li>
        <li class="page-item disabled" th:if="${page.currentPage + 2 < page.totalPages}">
            <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item font-weight-bold" th:classappend="${page.currentPage == page.totalPages} ? 'disabled'">
            <a th:replace="fragments/paging :: paging(baseUrl, ${page.currentPage + 1}, 'След', 'Следующая страница')"></a>
        </li>
        <li class="page-item" th:classappend="${page.currentPage == page.totalPages} ? 'disabled'">
            <a th:replace="fragments/paging :: paging(baseUrl, ${page.totalPages}, '>>', 'Последняя страница')"></a>
        </li>
    </ul>
</nav>