<div class="modal modal-lg fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="modalErrors"></div>
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form th:object="${item}" class="modal-form" method="post" th:action="${'/entity/email-account/' + item.id}">
                <input type="hidden" name="accountName" id="accountName" value="">
                <div class="modal-body">
                    <div th:replace="~{app/common/entity/email-account/wizard/account-setup :: page}"></div>
                    <div th:replace="~{app/common/entity/email-account/wizard/mail-server-setup :: page}"></div>
                    <div th:replace="~{app/common/entity/email-account/wizard/app-auth-setup :: page}"></div>
                    <div th:replace="~{app/common/entity/email-account/wizard/authorization :: page}"></div>
                    <div th:replace="~{app/common/entity/email-account/wizard/account-setup-check :: page}"></div>
                    <div th:replace="~{app/common/entity/email-account/wizard/error-details :: page}"></div>
                    <div th:replace="~{app/common/entity/email-account/wizard/account-setup-success :: page}"></div>
                    <div th:replace="~{app/common/entity/email-account/wizard/check-errors-found :: page}"></div>
                </div>
                <div class="modal-footer d-flex flex-row justify-content-between align-items-center">
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" id="wizardBack">&lt; Назад</button>
                    </div>
                    <div class="form-group d-flex gap-2 flex-row">
                        <button type="button" class="btn btn-outline-secondary" id="gotoSettings">Перейти к настройкам</button>
                        <button type="button" class="btn btn-primary" id="wizardNext">Далее &gt;</button>
                        <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal" id="cancelButton">Отмена</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>